<section>
  <h1>Contacto</h1>
  <ul>
	<li><strong>Llamanos</strong></li>
	<li>+56 (32) 2654562, Valparaíso, Chile</li>
	<li>+56 (2) 8974562, Santiago, Chile</li>
	<li>+1 (575) 208-0306, Socorro, U.S.A. </li>
	<li><strong>Escribenos</strong></li>
	<li><a href="mailto:info@csrg.cl">info@csrg.cl</a>, Valparaiso</li>
  </ul>
</section>
