<section>
  <h1>Proyectos</h1>
  <ul id="sponsors">
    <li><a href="{{ root_url }}/alma-utfsm/">ALMA UTFSM</a></li>
    <li><a href="{{ root_url }}/cci/">CCI</a></li>
    <li><a href="{{ root_url }}/cip/">CIP</a></li>
  </ul>
</section>
