<section>
  <h1>Con el apoyo de</h1>
  <ul id="sponsors">
    <li><img src="{{ root_url }}/images/sponsors/di-logo.png"></li>
    <li><img src="{{ root_url }}/images/sponsors/piea-logo.png"></li>
    <li><img src="{{ root_url }}/images/sponsors/utfsm-logo.png"></li>
  </ul>
</section>
