<h1>Noticias</h1>
<ul id="recent_posts">
  {% for post in site.posts limit: site.recent_posts %}
    <li class="post">
      <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
