<section>
  <h1>Auspiciadores</h1>
  <ul id="sponsors">
    {% for sponsor in site.categories.Sponsor %}
      <li>
        <a href="{{ root_url }}{{ sponsor.url }}"><img src='{{ sponsor.image }}' /></a>
      </li>
    {% endfor %}
  </ul>
</section>
