$noise-bg: image-url('/images/noise.png') top left !default;
$img-border: inline-image('dotted-border.png');

// Main Link Colors
$link-color: darken(#67BD45, 10) !default;
$link-color-hover: lighten($link-color, 20) !default;
$link-color-visited: darken($link-color, 10) !default;
$link-color-active: darken($link-color, 10) !default;

// Main Section Colors
$main-bg: #fff !default;
$page-bg: #fff !default;
$article-border: #eeeeee !default;

$header-bg:  url(/images/background.jpg) !default;
$header-border: lighten(#418284, 15) !default;
$title-color: #f2f2f2 !default;
$subtitle-color: #ccc !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

/* Navigation */
$nav-bg: #4f4f4f !default;
$nav-color: lighten($nav-bg, 38) !default;
$nav-color-hover: lighten($nav-color, 25) !default;
$nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;

/* Sidebar colors */
$sidebar-bg: #f2f2f2 !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: $sidebar-bg !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;
$twitter-status-link: lighten($sidebar-link-color-subdued, 15) !default;

$footer-color: #888 !default;
$footer-bg: #f2f2f2 !default;
$footer-color: darken($footer-bg, 38) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: lighten($footer-bg, 15) !default;
$footer-border-bottom: darken($footer-bg, 15) !default;
$footer-link-color: darken($footer-bg, 38) !default;
$footer-link-color-hover: darken($footer-color, 25) !default;
$page-border-bottom: darken($footer-bg, 5) !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html {
  background: $page-bg image-url('/images/line-tile.png') top left;
}
body {
  > div {
    background: $sidebar-bg $noise-bg;
    > div {
      background: $main-bg $noise-bg;
//      border-right: 1px solid $sidebar-border;
    }
  }
}
