<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Inicio</a></li>
  <li><a href="{{ root_url }}/noticias">Noticias</a></li>
  <li><a href="{{ root_url }}/about">Acerca de</a></li>
  <!-- <li><a href="{{ root_url }}/contact">Contact</a></li> -->
  <li><a href="{{ root_url }}/atom.xml"><img src='/images/rss.png' /> RSS</a></li>
</ul>
